In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\mybook hype amd\appdata\local\programs\python\python311\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\mybook hype amd\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mybook hype amd\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mybook hype amd\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mybook hype amd\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\mybook hype amd\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
import pandas as pd

df_excel = pd.read_excel('disperkim-od_16985_jumlah_produksi_sampah_berdasarkan_kabupatenkota_v3_data.xlsx',  sheet_name='data')
df_excel

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,3275,KOTA BEKASI,NaN,TON PER HARI,2023
239,240,32,JAWA BARAT,3276,KOTA DEPOK,NaN,TON PER HARI,2023
240,241,32,JAWA BARAT,3277,KOTA CIMAHI,NaN,TON PER HARI,2023
241,242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NaN,TON PER HARI,2023
242,243,32,JAWA BARAT,3279,KOTA BANJAR,NaN,TON PER HARI,2023

In [13]:
df = df_excel[['nama_kabupaten_kota', 'jumlah_produksi_sampah', 'tahun']]
df = df.rename(columns ={
    'nama_kabupaten_kota' : 'Kabupaten/Kota',
    'jumlah_produksi_sampah' : 'Produksi Sampah (ton)',
    'tahun' : 'Tahun'
})

df.to_csv('soal1.csv', index=False)
df.to_excel('soal1.xlsx', index=False)
df

         Kabupaten/Kota  Produksi Sampah (ton)  Tahun
0       KABUPATEN BOGOR                1511.15   2015
1    KABUPATEN SUKABUMI                 419.01   2015
2     KABUPATEN CIANJUR                 981.41   2015
3     KABUPATEN BANDUNG                1895.94   2015
4       KABUPATEN GARUT                 464.74   2015
..                  ...                    ...    ...
238         KOTA BEKASI                    NaN   2023
239          KOTA DEPOK                    NaN   2023
240         KOTA CIMAHI                    NaN   2023
241    KOTA TASIKMALAYA                    NaN   2023
242         KOTA BANJAR                    NaN   2023

[243 rows x 3 columns]